.buttonCtn button {
  background-color: rgb(0, 175, 29);
  border-style: none;
  padding: 20px 15px;
  color: greenyellow;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.buttonCtn button:hover {
  color: white;
  background-color: rgb(3, 214, 38);
  box-shadow: 0px 2px 5px black;
  transition: all 0.3s ease;
}